.note-form {
    display: grid;
    row-gap: 0.8em;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
    padding: 0 10%;
    padding-bottom: 1em;
}

.note-form__description {
    height: 2em;
    width: 100%;
    border: 1px solid gray;
    border-radius: 7px;
}

.note-form__priority {
    width: 10em;
    max-width: 100%;
    cursor: pointer;
}

.note-form__btn {
    width: 100%;
    background-color: #0054B0;
    color: white;
}
.note-form__btn:hover{
    background-color: #0d6bcf;
}