.note {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;
    background-color: light-dark(#dededf, transparent);
    border: 1px solid gray;
    border-radius: 7px;
    min-height: 4em;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.note__description {
    max-width: 80%;
}

.note__priority {
    font-weight: bold;
}

.note__btn {
    background-color: #E13648;
    width: 10em;
    max-width: 100%;
}

@media (max-width: 550px) {
    .note {
        grid-template-columns: 1fr;
        row-gap: 0.5em;
    }
}