.item-img{
    width: 15em;
    max-height: 80%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.item{
    height: 20em;
    align-items: center;
}
.item-1{    
    display: flex;
    justify-content: space-around;
    background-color: #FFCC00;
    

}
.item-2{
    display: flex;
    justify-content: space-evenly;
    background-color: #66CCFF;
}
.item-3{
    display: flex;
    justify-content: space-around;
    background-color: #FF6666;
}