.container {
  box-sizing: border-box;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 7px;
  text-align: center;
  margin-top: 1em;
  box-shadow: 0px 0px 5px gray;
  padding: 1em 3%;
}

.notes {
  max-height: 20em;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  scroll-margin: 20px;
}
